<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <style>  table,th,td{border: 1PX SOLID black}</style>

</head>
<body>
     <table>
       <tr>
        <th>id</th>
        <th>password</th>
        <th>email</th>
         <th>username</th>
         <th>button</th>
       </tr>
<% for (user of users){ %>
      <tr>
     <td><%=user.userid %></td>
      <td><%=user.password %></td>
      <td><%=user.email %></td>
      <td><%=user.username %></td>
      <td>
      <form method="get" action="/user/<%=user.userid%>/edit">
         <button>edit </button>
      </form>
      </td>
      </tr>
<% } %>
     </table>
</body>
</html>